@use '../../../styles' as global;

:host {
  align-items: center;
  background-color: global.$parmary-color;
  box-shadow: 0px 4px 10px 0px #0000000D;
  color: global.$primary-text-grey-color;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 1rem;
  height: global.$header-height;
  left: calc(global.$left-bar-width + 1rem + 4px);
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

.mat-mdc-button {
    font-size: 1.5rem;
    font-weight: bold;
    color: global.$primary-text-grey-color;
    padding: 0;
  }
}
