@use '../../../styles.scss' as global;

@mixin collapse {
  .collapse ::ng-deep {
    thead>tr>th:not(:first-child),
      tbody tr>td:not(:first-child),
      tbody tr>td:not(:first-child) app-slider-toggle-formcontrol {
      font-size: 0;
      width: 0;
      padding: 0;
      border-width: 0px;
      z-index: -1;
      position: absolute;
    }
    .column-with-button {
      .mat-mdc-button {
        transform: rotate(0deg);
      }
    }
  }
}

@mixin tableBorder {
  table {
    border-bottom: 2px solid global.$primary-grey-color;

    th,
    td {
      border-width: 2px 2px 0px 0px;
      border-style: solid;
      border-color: global.$primary-grey-color;
    }
  }

  table:first-child {

    .mat-mdc-header-cell:first-child,
    .mat-mdc-cell:first-child {
      border-left-width: 2px;
    }
  }
}

@mixin cellcolor() {
  .zone-table {
    .mat-mdc-cell {
      background-color: global.$parmary-color;
    }
  }

  table:not(:first-child) {
    tr .mat-mdc-cell:first-child {
      background-color: global.$parmary-color;
    }
  }
}

:host {
  display: flex;

  .lighting-table {
    box-shadow: 4px 4px 10px 0px #00000033;
  }

  .mat-mdc-table {
    min-width: unset;
  }

  .zone-table ::ng-deep {
    thead .mat-mdc-header-cell {
      height: 3rem;
      width: 6rem;
      margin-left: unset;
    }
    tbody .mat-mdc-cell {
      width: 6rem;
      margin-left: unset;
    }
  }

  table ::ng-deep {
    white-space: nowrap;
    overflow-y: scroll;
    thead .mat-mdc-header-cell {
      background-color: #D9D9D9;
      color: global.$primary-text-grey-color;
      height: 3rem;
      width: 6rem;

      .column-with-button .mat-mdc-button {
        transition: all .5s linear !important;
      }
    }

    tbody .mat-mdc-cell {
      width: 6rem;
    }

    th, td {
      border-width: 1px 1px 1px 0px;
      border-style: solid;
        border-color: global.$primary-grey-color;
      text-align: center;
      transition: width .5s linear, font-size .5s linear, padding .5s linear;
    }

    .description-col {
      max-width: 20rem;
    }
  }

  @include collapse();
    @include cellcolor();
    @include tableBorder();
}

table ::ng-deep .column-with-button {
  display: flex;
  align-items: center;
  justify-content: center;
  .mat-mdc-button {
    color: global.$primary-text-grey-color;
    transform: rotate(180deg);
    width: 1rem;
    min-width: unset;
  }
}

table.mat-mdc-table ::ng-deep {
  thead .mat-mdc-header-cell, tbody .mat-mdc-cell {
    &.column-large {
      width: 11rem;
    }

    &.column-medium {
      width: 8rem;
    }
  }
}



