@use '../../../styles.scss' as global;

$padding-value: 1rem;

:host {
  align-items: center;
  background-color: #D9D9D9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.625rem;
  position: fixed;
    width: global.$left-bar-width;
  .menu-container {
    height: calc(global.$header-height - $padding-value);
  }

  .tools-container {
    display: flex;
    flex-direction: column;
  }
}
