<div class=menu-container>
  <button mat-icon-button>
    <mat-icon>menu_outlined</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div class="tools-container">
  <button mat-icon-button matTooltip="Main">
    <mat-icon Outlined>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Setup">
    <mat-icon Outlined>build</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Control">
    <mat-icon Outlined>settings_outline</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Schedule">
    <mat-icon Outlined>schedule</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Account">
    <mat-icon Outlined>account_circle</mat-icon>
  </button>
</div>
