@use '../../../styles.scss' as global;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .floor-switcher {
    width: 80%;

    mat-form-field {
      display: flex;
      flex-grow: 1;
    }
  }

  mat-form-field ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: global.$primary-grey-color;
    }
  }

  img {
    width: 100%
  }
}
