@use '../styles.scss';

:host {
  background-color: #ECECEC;
  display: flex;

  .right-side {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content-container {
      padding: 1rem;
    }
  }
}
