@use '../styles.scss' as global;

:host {
  background-color: global.$parmary-color;
  display: flex;

  .right-side {
    display: flex;
    flex-direction: column;
    width: calc(100% - global.$left-bar-width);
    margin-left: calc(global.$left-bar-width + 1rem);

    .content-container {
      margin-top: global.$header-height;
      padding: 1rem 2rem;
      height: 100vh;
    }
  }
}
