@use '../../../styles' as global;

:host {
  display: flex;
  color: global.$primary-title-color;
  width: 100%;
  position: relative;
  justify-content: space-between;

  app-floor-plan-switcher {
    position: fixed;
    height: 100vh;
    width: 22%;
  }

  .menu-container {
    background-color: global.$primary-grey-color;
    width: 7.875rem;
    height: 1250px;
    padding: 1rem;
  }

  .main-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
  }

  .right-side-container {
    flex: 0 0 72%;
    overflow-y: scroll;
    display: flex;
    white-space: nowrap;

    .floor-plan-text {
      color: global.$primary-grey-color;
      font-size: 7.5rem;
      line-height: 7.5rem;
      font-weight: bold;
    }
  }
}
