
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

$header-height: 4.5rem;
$left-bar-width: 5rem;

// Customized color setting
$parmary-color: #ECECEC;
$primary-grey-color: #D9D9D9;
$primary-text-grey-color: #757575;
$primary-title-color: #B8B8B8;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: $parmary-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Angular Material
.mat-mdc-icon-button {
  height: 50px;
  width: 50px;
}

mat-icon {
  font-size: 1.875rem;
  height: 30px;
  width: 30px;
}

mat-divider  {
  padding: .5rem 0;
  width: 100%;
}

